 <link rel="stylesheet" href="/css/home.css">
 
 <!-- header  -->
<%- include('_header'); %>

<div>
    <!-- if user is not logged in -->
    <% if(!locals.user) { %>
        <img class="welcome-img" src="/img/landing.jpg">
        <div class="welcome-title">
             Build the best version of yourself <br> by mastering your habits.
        </div>
        <form action="/users/sign-up" method="GET">
            <button class="welcome-button">Get Started</button>
        </form>
    <% }

    <!-- if no habits are added -->
    else if(locals.user && locals.habits.length==0) { %>
    <%= habits %>
        <div id="noHabitText">Looks like you aren't tracking any habits yet, so...
               <br> what do you want to start doing every day? :)</div>
        <!-- button to open add habit form  -->
        <button id="open-btn-fixed" onclick="openForm()" > + Add Habit</button>
        <div class="form-popup" id="myForm">
            <form action="/users/habit/create-habit" id="createHabit" method="POST" class="form-container">
                <input type="text" name="title" placeholder="Enter habit title" required>
                <input type="text" name="desc" placeholder="Description">
                <button type="reset" id="cancel-btn" onclick="closeForm()">Cancel</button>
                <button type="submit" id="save-btn">Save</button>
            </form>
        </div>
    <% } 
    
    <!-- show habits -->
    else { %>
        <div>
            <div>
                <% for(let habit of habits) {%>
                <div class="container">
                    <div class="habit-title"> <%= habit.title %> </div>
                    <div class="habit-container">
                        <% for(let date of weeklyDates) { %>
                            <div class="day-container">
                                <div class="calender">
                                    <p><%= date %></p>
                                </div>
                                <% 
                                    let found;
                                    let status;
                                    habit.dates.find((item) => {
                                        if(item.date === date)
                                        {
                                            found = true;
                                            status = item.complete;
                                        }
                                    });
                                %>
                                <div >
                                    <a href="/users/habit/toggle-status/?id=<%= habit._id%>&date=<%=date%>" class="mark-status">
                                        <% if(found && status=='y') { %>
                                            <i class="fas fa-check-circle" style="color: rgb(130, 189, 107)"></i>
                                        <% } else if(found && status=='n') { %>
                                            <i class="fas fa-times-circle" style="color: rgb(241, 121, 109)"></i>
                                        <% } else { %>
                                            <i class="fa-solid fa-circle"></i>
                                        <% } %>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                        <div class="menu">  
                            <a href="#" style="text-decoration: none;">
                                <i class="fa-solid fa-pencil fa-lg" style="color: rgb(241, 121, 109);"></i>
                            </a>
                            <a href="#" style="text-decoration: none;">
                                <i class="fa-regular fa-trash-can fa-lg" style="color: rgb(241, 121, 109);"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <!-- button to open add habit form  -->
            <button id="open-btn" class="button-30" onclick="openForm()" > + Add Habit</button>
            <div class="form-popup" id="myForm">
                <form action="/users/habit/create-habit" id="createHabit" method="POST" class="form-container">
                    <input type="text" name="title" placeholder="Enter habit title" required>
                    <input type="text" name="desc" placeholder="Description">
                    <button type="reset" id="cancel-btn" onclick="closeForm()">Cancel</button>
                    <button type="submit" id="save-btn">Save</button>
                </form>
            </div>
        </div>
    <% } %>
</div>


<!-- footer -->
<%- include('_footer'); %>

<!-- importing this script to open/close form -->
<script src="/js/home.js"></script>