<% for(let habit of habits) {%>   
    <div class="container weekly-view">
        <!-- habit title -->
        <div class="habit-title"> <h2><%= habit.title %></h2> </div>

        <!-- habit details in weekly view-->
        <div class="habit-container">
            <% for(let date of weeklyDates) { %>
                <div class="day-container">
                <!-- date -->
                    <div class="calender">
                        <p><%= date %></p>
                    </div>
                    <% 
                        let found;
                        let status;
                        habit.dates.find((item) => {
                            if(item.date === date)
                            {
                                found = true;
                                status = item.complete;
                            }
                        });
                    %>
                <!-- complete status -->
                    <div >
                        <a href="/users/habit/toggle-status/?id=<%= habit._id%>&date=<%=date%>" class="mark-status">
                            <% if(found && status=='y') { %>
                                <i class="fas fa-check-circle" style="color: rgb(130, 189, 107)"></i>
                            <% } else if(found && status=='n') { %>
                                <i class="fas fa-times-circle" style="color: rgb(241, 121, 109)"></i>
                            <% } else { %>
                                <i class="fa-solid fa-circle"></i>
                            <% } %>
                        </a>
                    </div>
                </div>
            <% } %>
            <!-- option to delete -->
            <div class="menu">
                <a href="/users/habit/delete-habit/?id=<%=habit._id%>" style="text-decoration: none;">
                    <i class="fa-regular fa-trash-can fa-lg" style="color: rgb(241, 121, 109);"></i>
                </a>
            </div>
        </div>
    </div>
<% } %>
